/* .header {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #3c5b09;
  background-image: url('/src/assets/bg-header.jpg');
  background-color: #b5d284;
  box-shadow: -4px 20px 20px 14px rgba(0, 0, 0, 0.1);
} */
