.wrap {
  display: flex;
  justify-content: center; /* Центрирует содержимое по горизонтали */
  flex-wrap: wrap; /* Разрешает перенос на следующую строку */
  gap: 18px; /* Промежутки между элементами */
  align-items: flex-start; /* Выравнивание элементов по началу контейнера */
}

.contact {
  flex: 0 0 165px; /* Фиксированная ширина для элементов */
  max-width: 25%; /* Максимально 25% от контейнера для 4 элементов в ряд */
  padding: 15px;
  border-radius: 15px;
  background-color: #4c6551;
  box-sizing: border-box;
  display: flex; /* Используем flexbox для расположения внутри .contact */
  flex-direction: column; /* Вертикальное расположение содержимого */
  justify-content: space-between; /* Распределяем пространство между текстом и кнопкой */
}

/* Медиазапрос для больших экранов */
@media screen and (min-width: 768px) {
  .contact {
    /* Здесь вы можете изменить только те свойства, которые хотите переопределить */
    padding: 15px; /* Подтверждаем отступы, если они отличаются */
    /* Можно добавить другие стили, если нужно */
  }
}

span {
  padding-right: 8px;
  white-space: nowrap; /* Запрещает перенос текста */
}

.content {
  display: flex; /* Используем flexbox для текстовых элементов */
  align-items: flex-start; /* Выравниваем иконку и текст по центру */
  flex-grow: 1; /* Текстовые элементы займут все доступное пространство */
}

.button {
  width: 100%; /* Кнопка занимает всю ширину контейнера */
  border-radius: 15px;
  padding: 10px 20px;
  color: whitesmoke;
  box-shadow: -1px -1px 5px white;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0; /* Запрещает изменение размера кнопки */
}

.button:hover {
  box-shadow: -2px -2px 5px white;
}

.button:active {
  color: white;
  box-shadow: inset 1px 1px 2px;
}
