.link {
  display: inline-block;
  text-decoration: none;
  padding: 18px;
  font-weight: 700;
  color: #0b810b;
  font-size: 30px;
}

.register {
  visibility: hidden;
}
.login {
  visibility: hidden;
}
